<h1>This is the About Page !</h1>
<%= link_to 'Home', root_path %> | About
<table border="1">
  <tr>
    <td colspan="2"><img src="http://cdn.shopify.com/s/files/1/0985/5922/t/6/assets/slide4.jpg?12682310060251867603"></td>
  </tr>
<tr>
  <td><h2>This is left column</h2></td>
  <td><h2>This is right column</h2></td>
</tr>
</table>



